#preloader{
    background: #ffffff url("./assets/candleburning.gif") no-repeat center center;
    height: 100vh;
    background-size: 20%;
    width: 100%;
    position: fixed;
    z-index: 1;
  }